body {
    background-color: #030A28;
}

.header {
    height: 50px;
    width: 100%;
    display: flex; 
    gap: 10px; /* Espaço entre divs */
    align-items: center; /* Alinha as divs no topo da linha */
    justify-content: space-between; /* Divs afastadas, uma de cada lado */
    background-repeat: no-repeat; /* evitar repetição da imagem */
    background-size: cover; /* imagem cobre toda a área */
    background-position: center; /* centraliza a imagem */
    padding: 5px;
    margin: 0px;
}


.botoes_header {
    margin: 5px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Orbitron, sans-serif;
}

#botao_login_header {
    height: 40px;
    width: 100px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    font-family: Orbitron, sans-serif;
}

.nome_empresa {
    font-family: Orbitron, sans-serif;
    color: white;
}

.header_fulano {
    height: 350px;
    width: 100%;
    display: flex; 
    gap: 10px; /* Espaço entre divs */
    align-items: flex-start; /* Alinha as divs no topo da linha */
    background-image: url('./assets/Gemini_Generated_Image_x5y5ntx5y5ntx5y5.png');
    background-repeat: no-repeat; /* evitar repetição da imagem */
    background-size: cover; /* imagem cobre toda a área */
    background-position: center; /* centraliza a imagem */
}

.jogos {
    height: 350px;
    width: 200px;
    display: flex;
    border-radius: 10px;
    border: 2px solid black; 
}

.container_jogos {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 10px;
}

.img_jogo {
    height: 350px;
    width: 100px;
    display: flex;
    position: absolute;

}

.texto_jogo {
    height: 350px;
    width: 100px;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
}